<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= product.image_url %>);">
  <div class="card-category">
    <p><%= product.type %></p>
  </div>
  <div class="card-description">
    <h2><%= product.title %><%= product.marque %></h2>
    <p><%= product.description %></p>
    <p><%= product.price %>euros</p>
  </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
       <%= link_to "test", product_path(product), class: "card-link" %>
</div>


