<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@product) do |f| %>
      <%= f.error_notification %>
      <%= f.input :photos, as: :attachinary %>
      <%= f.input :category %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :sexe %>
      <%= f.input :taille %>
      <%= f.input :marque %>
      <%= f.input :etat, placeholder:"neuf, bon état, occasion, usé..." %>
      <%= f.input :matiere %>
      <%= f.input :couleur %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
