
<div class="text-center">
  <h1 >Dans nos @rmoires</h1>
  <%= form_tag(products_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "" %>
  <%= submit_tag "Rechercher un article" %>
  <% end %>

    <% if @product.present? %>
      <%= render @products %>
    <% else %>
      <p>Nous n'avons pas ce produit <%= params[:search] %></p>
    <% end %>
</div>
  <div class="map-layout">

    <div class="cards-container">
      <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
          <%= render "card", product: product %>
      </div>
      <% end %>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>






